<html>
    <head>
        <title>Ты станешь лучше!</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Ты станешь лучше!</a></h1>
        </div>
		<div>
            <h2><a href="">Билл Гейтс</a></h2>
            <p>До вашего рождения ваши родители не были такими занудами, как сейчас. Они стали ими, оплачивая ваши счета, стирая вашу одежду, и выслушивая ваши рассуждения о себе любимом. Поэтому прежде, чем начнете спасать мир от поколения своих родителей, вычистите сортир в собственной комнате.</p>
        </div>

        <div>           
            <h2><a href="">Генри Форд</a></h2>
            <p>При наличии энтузиазма вы можете достичь всего. Энтузиазм – это блеск ваших глаз, стремительность походки, крепость рукопожатия, непреодолимый прилив энергии и воли для претворения в жизнь ваших идей. Энтузиасты – это борцы. Энтузиазм – краеугольный камень всего прогресса! Только с ним возможен успех. Без него у вас есть только возможности.</p>
        </div>

        <div>
           	<h2><a href="">Стив Джобс</a></h2>
            <p>Я очень уважаю постепенные преобразования и стараюсь делать нечто подобное в своей жизни, но меня всегда привлекали революционные перемены. Потому что они труднее. Они эмоционально намного напряжённее. И во время таких перемен ты всегда проходишь через период, когда все говорят тебе, что у тебя ничего не получится.</p>
        </div>
         <div>
           	<h2><a href="">Джек Ма</a></h2>
            <p>Вы должны сделать потребителей умными. Портал электронной коммерции не продает продукт по более низким ценам, вместо этого магазин за углом продает продукт дороже.</p>
        </div>
        <div>
           	<h2><a href="">Джек Ма</a></h2>
            <p>Умным людям нужен дурак, который их поведет. Когда в команде куча ученых, то лучше всего, чтобы ими руководил крестьянин. У него другой образ мышления. Легче победить, если у вас в команде есть люди с разными точками зрения.</p>
        </div>

    </body>
</html>
